<div class="container py-5">

  <div class="row">

    <div class="col-md-6">

      <h3>Mi lista de proyectos</h3>
      <div *ngFor="let proyecto of proyectos">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="fw-bold">{{ proyecto.nombre }}</div>

            <div class="text-muted">
              <i class="fa fa-edit cursor-pointed" title="Editar Proyecto"></i>
              <i class="fa fa-trash ms-2 cursor-pointed" title="Eliminar Proyecto"></i>
            </div>
          </div>
          <div>{{ proyecto.completado ? 'Completado' : 'Pendiente' }}</div>
        </div>
        
      </div>
    </div>

    <div class="col-md-6">
      
    </div>

  </div>


</div>